@tailwind base;
body {
  @apply bg-gray-100
}
.prose pre code {
  white-space: pre-wrap;
}
.prose p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.slate-ul{
  @apply list-disc
}
.slate-ol {
  @apply list-decimal
}
@tailwind components;

@tailwind utilities;


